/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(drewskibase.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svgz);
}

.ds4.white .trigger {
    background-image: url(drewskitriggers.png);
}

.ds4.white .bumper {
    background-image: url(drewskibumper.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(drewskitouchpad.png);
}

.ds4.white .back, .ds4 .start {
    background-image: url(drewskistart.png);
}

.ds4.white .button {
    background-image: url(drewskiface.png);
}

.ds4.white .stick {
    background-image: url(drewskisticks.png);
}

.ds4.white .face {
    background-image: url(drewskipad.png);
}

/*END PS4 White Controller Styling*/
